.content_container {
    background-color: #CCC;
    height: 100%;
    width: 100%;
    margin: auto;
}

.map_container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
}

.search_box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CCCCCC;
    z-index: 10;
}

.map_canvas {
    height:20000000px;
    width: 20000000px;
    border: 1px solid #FF0000;
    border-radius: 0px;
    position: absolute;
    margin:0;
    padding:0;
}